/* .navlook{
    color: white;
    margin-right: 5%
}

.div-pad{
    margin-right: 50px
}

.hash {
    display: flex;
    justify-content: space-between;
  }

  .formTop{
      margin-top: 20px
  }

  .navbar-background {
    background-color: #5f1589;
    color: #ffff;
} */
